.bullets__button {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: @dark;
  border: 3px solid @white;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.bullets__button--active  {
  background-color: @white;
  border: 3px solid @dark;
  opacity: 1;
}

.bullets__button:hover:not(.bullets__button--active) {
  opacity: 0.6;
}

.bullets__button:focus:not(.bullets__button--active) {
  opacity: 0.1;
}
