.info {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: @dark;
  text-align: center;
  background-image: linear-gradient(-5deg, @light-grey 76%, @white 0%);

  @media (min-width: @tablet) {
    background-image: linear-gradient(-4deg, @light-grey 75%, @white 0%);
  }

  @media (min-width: @desktop) {
    background-image: linear-gradient(-4deg, @light-grey 71.4%, @white 0%);
  }
}

.info__wrap {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: 620px;
  }

  @media (min-width: @desktop) {
    width: 960px;
  }
}

.info__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
  line-height: 30px;

  @media (min-width: @tablet) {
    padding-top: 49px;
    padding-bottom: 22px;
    line-height: 48px;
  }

  @media (min-width: @desktop) {
    padding-top: 73px;
  }
}

.info__text {
  max-width: 204px;
  margin: 0;
  margin-bottom: 27px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    max-width: 587px;
    margin-bottom: 0;
    font-size: 40px;

    &--min {
      max-width: 550px;
    }
  }

  @media (min-width: @desktop) {
    max-width: 737px;
    margin-bottom: 8px;
    margin-left: 19px;
    font-size: 50px;

    &--min {
      max-width: 720px;
      line-height: 58px;
    }
  }
}

.info__list {
  .list();
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 287px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 489px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: @tablet) {
    width: 307px;
    padding-top: 99px;
    padding-bottom: 9px;
    padding-left: 305px;
    text-align: left;
    letter-spacing: normal;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: -3px 28px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 886px;
    padding-top: 57px;
    padding-left: 12px;
    text-align: center;
    background-image: none;
  }
}

.info__item {
  @media (min-width: @desktop) {
    width: 240px;
    padding-top: 358px;
    padding-left: 7px;

    &--black {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-position: -19px 0;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--pink {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-position: -16px 0;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--smile {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-position: -15px 0;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }
}

.info__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: @black;

  @media (min-width: @tablet) {
    &--smile {
      margin-bottom: 9px;
      margin-left: 2px;
    }
  }

  @media (min-width: @desktop) {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 30px;
  }
}

.info__description {
  margin: 0;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: @tablet) {
    margin-bottom: 33px;

    &--pink {
      margin-bottom: 38px;
    }
  }

  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
