.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: @white;
  text-align: center;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 106px;
  background-repeat: no-repeat;

  @media (min-width: @tablet) {
    align-items: flex-start;
    width: 640px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -28px 74px;
  }

  @media (min-width: @desktop) {
    width: 940px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 15px 99px;
  }
}

.intro__title {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.intro__text {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 20px;

  @media (min-width: @tablet) {
    max-width: 190px;
    padding-top: 88px;
    padding-left: 54px;
    font-size: 40px;
  }

  @media (min-width: @desktop) {
    max-width: 231px;
    margin-bottom: 34px;
    padding-top: 102px;
    padding-left: 32px;
    font-size: 50px;
  }
}

.intro__download {
  display: flex;
  flex-direction: column;
  padding-top: 300px;

  @media (min-width: @tablet) {
    width: 300px;
    padding-top: 0;
    padding-bottom: 100px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 95px;
  }
}
