.menu-list {
  min-height: 255px;
  text-align: center;
  border-bottom: 1px solid @black;

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 110px;
    border: none;
  }
}

.menu-list__item {
  box-shadow: inset 0 1px 0 rgba(@black, 0.15),
    0 -1px 0 0 @black;
}

.menu-list__link {
  display: block;
  padding: 16px 0;
  font-weight: 700;
  line-height: 32px;
  color: @white;
  text-transform: uppercase;

  &--padding {
    padding-bottom: 14px;
  }

  &:hover[href],
  &:focus[href] {
    color: @pink;
  }

  &:active[href] {
    color: rgba(@pink, 0.3);
  }

  @media (min-width: @desktop) {
    padding: 12px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    &:hover[href],
    &:focus[href] {
      color: @pink;
    }

    &:active[href] {
      color: rgba(@white, 0.3);
    }
  }
}

@media (min-width: @desktop) {
  .menu-list__link--active {
    border-bottom: 2px solid @white;
  }
}
