.post {
  text-align: left;
}

.post__description {
  background-color: @light-grey;
}

.post__author {
  margin: 0;
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
}

.post__text {
  margin: 0;
}

.post__like {
  font-family: @main-font;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: @pink;
  background-color: transparent;
  border: none;
}
