.store-list {
  .list();
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 205px;
  margin: 0 auto;
  margin-bottom: 16px;

  @media (min-width: @tablet) {
    margin-bottom: 30px;
    margin-left: 48px;
  }

  @media (min-width: @desktop) {
    align-items: baseline;
    width: 203px;
    margin-bottom: 39px;
  }
}

.store-list__item {
  &--android {
    margin-top: 9px;
    margin-left: -4px;
  }

  &--microsoft {
    margin-top: 10px;
    margin-right: 1px;
  }
}
