.trip {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  padding-top: 44px;
  background-color: @light-grey;
  border: none;

  &--app {
    margin-top: 2px;
    padding-top: 39px;
  }

  @media (min-width: @tablet) {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding-top: 43px;
    background-color: @white;
    border: solid 2px @grey;

    &--app {
      order: 2;
    }

    &--achievement {
      margin-bottom: 57px;
      order: 4;
    }
  }

  @media (min-width: @desktop) {
    &--app {
      width: 435px;
      margin: 0;
      margin-top: 5px;
      margin-bottom: 50px;
      padding: 0;
    }

    &--achievement {
      width: 100%;
      margin: 0;
      margin-bottom: 57px;
      padding-top: 45px;
    }
  }
}

.trip__legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  background-color: @light-grey;

  @media (max-width: @mobile) {
    width: 100%;
  }

  @media (min-width: @tablet) {
    min-width: 185px;
    line-height: 30px;
    background-color: transparent;

    &--app {
      padding: 0 25px;
    }

    &--achievement {
      padding: 0 32px;
    }
  }

  @media (min-width: @desktop) {
    &--app {
      margin-bottom: 45px;
    }
  }
}

.trip__text {
  max-width: 250px;

  @media (min-width: @tablet) {
    max-width: 100%;
  }
}

.trip__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  .list();
  margin: 0 auto;
  padding-bottom: 47px;
  text-align: left;

  @media (min-width: @tablet) {
    width: 507px;
    padding-bottom: 59px;

    &--achievement {
      padding-bottom: 53px;
    }
  }

  @media (min-width: @desktop) {
    width: 435px;
    box-sizing: border-box;

    &--app {
      padding-bottom: 0;
      padding-left: 77px;
    }

    &--achievement {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 820px;
      padding-bottom: 7px;
    }
  }
}

.trip__item {
  &:not(:last-child) {
    margin-bottom: 51px;

    @media (min-width: @tablet) {
      margin-bottom: 45px;
    }

    @media (min-width: @desktop) {
      &--app {
        margin-bottom: 40px;
      }
    }
  }

  &--app:not(:last-child) {
    margin-bottom: 44px;
  }

  @media (min-width: @tablet) {
    &--app:not(:last-child) {
      margin-bottom: 45px;
    }

    &--achievement:not(:last-child) {
      margin-bottom: 52px;
    }
  }

  @media (min-width: @desktop) {
    &--app:not(:last-child) {
      margin-bottom: 44px;
    }
    width: 260px;
    order: 10;

    &:nth-child(3n) {
      width: 210px;
    }

    &:nth-child(3n-1) {
      width: 240px;
    }

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(3) {
      width: 240px;
      order: 2;
    }

    &:nth-child(4) {
      width: 240px;
      order: 5;
    }

    &:nth-child(5) {
      width: 210px;
      order: 3;
    }

    &:nth-child(2) {
      width: 260px;
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }

    &:last-child {
      width: 210px;
    }

    &--achievement {
      margin-bottom: 52px;
    }
  }
}

.trip__label {
  position: relative;
  margin-left: 70px;
  font-size: 18px;
  line-height: 30px;
  color: @dark;
  cursor: pointer;

  @media (min-width: @tablet) {
    margin-left: 62px;
  }

  @media (min-width: @desktop) {
    margin-left: 60px;
  }

  &--achievement::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -70px;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: solid 2px @grey;

    @media (min-width: @tablet) {
      top: -8px;
      left: -60px;
    }
  }

  &--app::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -70px;
    width: 37px;
    height: 36px;
    background-color: @white;
    border: solid 2px @grey;
    border-radius: 50%;

    @media (min-width: @tablet) {
      top: -9px;
      left: -60px;
    }
  }

  &--achievement:hover::before,
  &--app:hover::before {
    border-color: @dark;
  }

  &--achievement:active::before,
  &--app:active::before {
    border-color: @pink;
  }

  &--achievement::after {
    display: none;
    position: absolute;
    content: "";
    top: 5px;
    left: -61px;
    width: 22px;
    height: 16px;
    background-image: url("../img/icon-yes-pink.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: @tablet) {
      top: 3px;
      left: -50px;
    }
  }

  &--app::after {
    display: none;
    position: absolute;
    content: "";
    top: 6px;
    left: -57px;
    width: 15px;
    height: 15px;
    background-color: @pink;
    border-radius: 50%;

    @media (min-width: @tablet) {
      top: 4px;
      left: -47px;
    }
  }
}

.trip__input--achievement:checked + .trip__label--achievement::after,
.trip__input--app:checked + .trip__label--app::after {
  display: block;
}

.trip__input--achievement:focus + .trip__label--achievement::before,
.trip__input--app:focus + .trip__label--app::before {
  border-color: @dark;
}
